*{margin: 0%;
padding: 0%;}


body,html{width: 100%;
height: 100%;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;}

#header{width: 100%;
height: 20%;
background-color: #ffffff;}

#infobox{width: 80%;
height: 50%;
background-color: #ddebf8;
margin-left:150px;
display: flex;

text-align: center;
border-bottom: 6px solid #d8cefe;
border-radius: 10px;
text-shadow: 1px 1px #dd7272;}

#data:hover{background-color: white;
border: 2px black solid;}

img{border: 2px solid black ;
width: 200px;
height: 200px;
border-radius: 20px;
margin-top: 100px;
margin-left: 250px;
}

img:hover{width: 250px;
height: 250px;}
#data{margin-top:100px;
height: 100px;
margin-left: 200px;
padding: 30px;
margin-top: 150px;
color: #2b2839;
border-radius: 20px;


}

.data1{margin: 7px;}